body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed from center to flex-start */
  height: 100vh;
  background-color: #f4f4f4;
}

.popup-container {
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px; /* Added margin-top to ensure the banner is visible */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  font-size: 16px; /* Increased text size */
}

td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.color-input {
  display: flex;
  align-items: center;
}

.color-input input[type='text'] {
  flex: 1;
  margin-right: 5px;
}

.bg-color-picker,
.text-color-picker {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
}

input[type='text'],
input[type='color'] {
  font-size: 16px; /* Increased text size */
}

.remove-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button i {
  font-size: 16px;
}

.remove-button:hover {
  background-color: #c82333;
}

.oneSystemMessage.banner {
  position: fixed; /* Changed to fixed to ensure visibility */
  top: 0; /* Positioned at the top */
  left: 0;
  width: 100%;
  z-index: 10000; /* High z-index to ensure it’s above other elements */
}

.invalid {
  background-color: #ff9999; /* Adjusted to a more distinguishable red */
}

.warning {
  background-color: #ffe680; /* Adjusted to a more distinguishable yellow */
}

.invalidIcon {
  color: #dc3545; /* Red color for invalid icon */
  background-color: #fff;
  border-radius: 50%; /* Make it a circle */
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  font-size: 18px; /* Increase icon size */
  font-family: Arial, sans-serif; /* Match the font family */
}

.invalidIcon::after {
  content: 'Duplicate value. Entry will not be saved.';
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
  bottom: 100%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  font-family: Arial, sans-serif; /* Match the font family */
}

.invalidIcon:hover::after {
  opacity: 1;
  visibility: visible;
}

.warningIcon {
  color: #ffc107; /* Yellow color for warning icon */
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  font-size: 18px; /* Increase icon size */
  font-family: Arial, sans-serif; /* Match the font family */
}

.warningIcon::after {
  content: 'Subdomain contains single dash. This subdomain may be invalid.';
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
  bottom: 100%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  font-family: Arial, sans-serif; /* Match the font family */
}

.warningIcon:hover::after {
  opacity: 1;
  visibility: visible;
}

.drag-handle {
  cursor: grab;
  text-align: center;
  color: darkgrey;
}
.dragging .drag-handle {
  cursor: grabbing;
}

/* Style the tab */
.tab {
  overflow: hidden;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  align-items: center;
  width: 100%; /* Ensure the tab takes the full width of the wrapper */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tab::-webkit-scrollbar {
  display: none;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: white; /* Ensure background color is set */
  color: #007bff; /* Ensure text color is set */
  border: none;
  outline: none;
  cursor: grab;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-top-left-radius: 10px; /* Added rounded top left corner */
  border-top-right-radius: 10px; /* Added rounded top right corner */
  position: relative; /* Added to position the pencil icon */
  display: inline-block; /* Ensure buttons are inline for horizontal scrolling */
  flex: 0 0 auto; /* Prevent shrinking */
  width: 150px; /* Set a fixed width for each tab */
  margin-top: 15px; /* Added 15px top margin */
}

.tab button:first-child {
  margin-left: 0; /* Remove margin for the first tab */
}

.tab button.dragging {
  cursor: grabbing;
  opacity: 0.5;
}

.tab button .edit-input {
  display: none; /* Initially hidden */
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: calc(100% - 40px); /* Adjust width to fit within the button */
  border: none;
  outline: none;
  font-size: 17px;
  background: transparent;
  color: inherit;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #007bff; /* Hover background color */
  color: white; /* Hover text color */
  opacity: 0.5;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #007bff; /* Active tab background color */
  color: white; /* Active tab text color */
}

/* Change background color of active buttons on hover */
.tab button.active:hover {
  background-color: #007bff; /* Hover background color for active tab */
  color: white; /* Hover text color for active tab */
  opacity: 1;
}

/* Style the tab content */
.tabcontent {
  border-top: none;
}

.tab-input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  color: inherit;
  width: calc(100% - 40px); /* Adjust width to fit within the button */
  box-sizing: border-box;
}

.tab-input:focus {
  background: transparent;
  border: none;
  outline: none;
}

.tab-scroll-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0; /* Remove the margin to eliminate the gap */
}

.tab-wrapper {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  align-items: center;
  max-width: calc(
    100% - 80px
  ); /* Adjust width to fit between the scroll buttons */
}

.tab-wrapper .tablinks .fas.fa-grip-lines-vertical {
  visibility: hidden;
}

.tab-wrapper .tablinks:hover .fas.fa-grip-lines-vertical {
  visibility: visible;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 1;
  opacity: 0.5;
}

.scroll-button.left {
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.scroll-button.right {
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.scroll-button:hover {
  background-color: #007bff;
  color: white;
  opacity: 1;
}

#newTab {
  width: 40px; /* Set a smaller width for the newTab button */
  padding: 14px 0; /* Adjust padding to center the + */
}

#newTab:hover {
  background-color: #007bff; /* Hover background color */
  color: white; /* Hover text color */
  opacity: 1;
}

.tab-name-container {
  display: flex;
  align-items: center;
}

.tab-name {
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for overflow content */
  display: inline-block; /* Ensure inline-block for auto-sizing */
  width: auto; /* Auto-size based on content */
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
  padding: 0;
  margin-left: 10px;
}

.options-menu {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: auto; /* Ensure the width is auto */
  min-width: 150px; /* Set a minimum width */
  max-width: 200px; /* Set a maximum width */
  padding: 10px; /* Add padding for better appearance */
}

.options-menu .menu-item {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.options-menu .menu-item:hover {
  background-color: #0056b3;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.toggle-label {
  font-size: 12px;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
